<h1>
	THIS IS THE SECRET PAGE!!!
</h1>
<img src="https://imgix.bustle.com/uploads/image/2020/5/7/a9099554-e776-4f78-b0b7-303634573e6f-deadpool-mcu1.jpg?w=1200&h=630&q=70&fit=crop&crop=faces&fm=jpg">
<h4>
	YOU FOUND ME!!!!
</h4>
<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>